Fri May 21 09:19:05 2010 <span style="font-weight:bold; color:darkgray;">Info:</span> Starting UiGUI Version 1.1.0 $Revision: 981 $<br/>

Fri May 21 09:19:05 2010 <span style="font-weight:bold; color:darkgray;">Info:</span> Running on Windows 7 (operating system version 6.1)<br/>

